<div layout="row" layout-align="center center" layout-wrap class="innerContentStyle">
    <h2>Search to ﬁnd your new book </h2>
    <div flex="100" class="searchPageSubtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </div>
    <div flex="100" layout="row" layout-align="center center">
        <input class="searchFieldStyling" flex="80" flex-xs="90" type="text" ng-model="searchBook"/>
    </div>
    <div flex="75" flex-xs="85" layout="row" layout-align="start center" class="filterStyle">
        <span class="filterStyleLabel">Filter by: </span>
        <md-radio-group layout="row" ng-model="radioData.filter">
            <md-radio-button value="$" class="md-primary">Any</md-radio-button>
            <md-radio-button value="title" class="md-primary">Title</md-radio-button>
            <md-radio-button value="author" class="md-primary">Author</md-radio-button>
        </md-radio-group>
    </div>
    <div layout="row" layout-wrap>
        <div ng-click="showBookInDetail(item.title);" flex="25" flex-sm="33" flex-xs="80"
             ng-repeat="item in bookList | filter:getCustomParameter(radioData.filter, searchBook)" class="smallBook">
            <img alt="book image" class="responsiveImg" src="images/book_image.png">
            <div class="smallBookTitle">{{item.title}}</div>
        </div>
    </div>
</div>

